
button{
  outline: 0;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px  10px #00000029;
  background-color: #109954;
  color: #FFFFFF;
}

h2{
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
h2::after{
  content:" ";
  position: absolute;
  top: 15px;
  right:-250px;
  width: 200px;
  height: 4px;
  background-color: #109954;
  }
  h2::before{
    content:" ";
    position: absolute;
    top: 15px;
    left:-250px;
    width: 200px;
    height: 4px;
    background-color: #109954;
    }
  h3{
    color: #109954;
    font-size: 32px;
    font-weight: bold;
  }
h4{
  font-size: 20px;
  font-weight: bold;
}
p{
  line-height: 1.7;
}

.nav{
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img{
  width:130px;
  height: auto;
  display: inline-block;
}
.nav button{
  width:151px;
  height: 48px;
  background-color: #FFE000;
  border-radius: 24px;
  color: black;
  font-size: 18px;

  display: inline-block;
}
.home{
  max-width: 1080px;
  margin: auto;
}
.header-box{
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}
.smp{
  display: none;
}
.header-txt{
align-self: center;
}
.header-txt p:first-of-type{
    font-size: 36px;
   font-weight: bold;
   white-space: nowrap;
}
.header-txt p:last-of-type{
  margin: 34px 0 40px 0;
  max-width: 400px;
}
.header-txt button:nth-of-type(1){
background-color: #109954;
width:166px;
height:48px;
color: #FFFFFF;
border-radius: 32px;
font-size: 18px;
margin-right: 10px;
}
.header-txt button:nth-of-type(2){
  color: #109954;
  background-color: #FFFFFF;
  width:222px;
  height:48px;
  border:2px solid #109954;
  border-radius: 32px;
  font-size: 18px;
}
.header-img{
  display: inline-block;
  max-width:560px;
}
.header-img img{
width:100%;
  height: auto;
}

.service{

  margin:0 auto;
  max-width: 1080px;
  margin-top: 120px;
}
.service p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.service-box{
  display: flex;
  justify-content: space-around;
  margin-top: 109px;
}
.service-inner{
  width:204px;
  text-align: center;
}
.service-inner:nth-child(2){
 padding: 0 100px;
}
.service-inner img{
 width:100%;
}
.about{
  max-width:1080px;
  margin: auto;
  margin-top: 120px;
}
.about-inner{
  display: flex;
  justify-content: center;
 align-items: center;
}
.about-inner:first-of-type{
  margin: 100px 0;
}
.about-inner-1 .about-img{
  order: 2;
  margin-left: 20px;
}
.about-inner-1 .about-txt{
  order: 1;
  margin-right: 20px;
}
.about-txt p{
margin: 30px 0;
}
.about-txt button{
  width:166px;
  height: 48px;
  font-size: 18px;
  border-radius: 24px;
}
.about-inner-2 .about-img{
  margin-right: 20px;
}
.about-inner-2 .about-txt{
  margin-left: 20px;
}
.about-img, .about-txt{
  max-width: 450px;
}
.about-inner img{
  width: 100%;
  box-shadow: 0px 11px 20px #00000029;
}

.news{
margin: auto;
max-width: 1080px;
margin-top: 120px;
}
.news-box{
  
  margin-top: 100px;
}
.news-box:nth-last-of-type(1){
  border-bottom: 1px solid #707070;
}
.news-inner{
  display: flex;
  padding: 36px 0 53px 0;
  border-top: 1px solid #707070;
position: relative;
}
.news-inner a{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
}
.news-img{
  max-width: 300px;
  margin-right: 34px;
}
.news-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-txt span{
 border-radius: 13px;
 width:101px;
 height: 26px;
 font-size: 14px;
 color: #109954;
 border: 2px solid #109954;
 display: inline-block;
 text-align: center;
line-height: 26px;
}
.news-txt p:nth-of-type(1){
  margin: 20px 0 15px 0;
  font-weight: bold;
}
.news-button{
  text-align: center;
  margin-top: 50px;
}
.news-button button{
  width:166px;
  height: 48px;
  font-size: 18px;
  border-radius: 24px;
margin-bottom: 100px;
}
.time-1{
  margin-right: 28px;
}
.time-2{
  margin-right: 10px;
}
.time-3{
  margin-right: 19px;
}

.footer-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width:1080px;
  margin: auto;
}
footer{
  padding:25px 0 14px 0;
  background-color: #E8E8E8;
  overflow: hidden;
}
footer img{
  width:70px;

}
.footer-txt{
  display: flex;

}
.footer-txt li{
padding: 0 18px;
border-left: 1px solid #000;
height:20px;
display: inline-block;

font-size: 14px;
}
.footer-txt a{
  color: #000;
  text-decoration: none;
}
.footer-txt li:last-of-type{
  padding-right: 0;
}
.footer-txt li:first-of-type{
  border-left:  initial;
}
small{
  text-align: center;
 display: block;
 padding-top: 10px;
}
@media screen and (max-width: 1079px){


  .home{
padding:0 15px
  }
  .header-box{
    margin-top: 150px;
  }
 .header-button{
   display: flex;
 }
  .header-txt p:first-of-type{
    font-size: 28px;
  }

  .service{
    padding: 0 15px;
  }
  .service-inner:nth-child(2) {
    padding: 0 15px;
}
.about{
 padding:0 15px;
}
.news{
padding: 0 15px;
}
.news-box{
  margin-top: 100px;
}
.news-img{
  max-width: 500px;
}
.footer-box{
 padding:0 15px;
}

}
@media screen and (max-width: 767px){
  .home{
    padding: 0 30px;
  }
  h1{
    font-size: 28px;
  }
  .service-h2{
  max-width: 84%;
  margin: auto;
  }
  h2{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    transform: none;
  }
  h2::after{
    margin-left: 16px;
    right:0;
    position:unset;
    width: 50%
  }
  h2::before{
  margin-right: 16px;
  left:0;
  position: unset;
  width:50%;
  }
  h4{
    font-size: 16px;
  }
  .nav{
    margin-top: 11px;
  }
  .nav img{
  width: 110px;
  height:28px;
  }
  .header-box{
    flex-direction: column;
    justify-content: center;
    margin-top: 21px;
  }
  .header-txt{
    order: 2;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
  }
  .header-txt button:nth-of-type(1){
    width:166px;
   margin-right: auto;
  }
  .header-txt button:nth-of-type(2){
    width:222px;
  }

  .header-txt p:nth-child(2){
    font-size: 14px;
    margin: 22px 0 20px 0;
  }
  .header-img{
    order: 1;
   margin: auto;
  }
  .header-img img{
    width:100%;
  }
  .header-button{
    display: flex;
    flex-direction: column;

 }
 .header-button button{
   margin: auto;
   margin-top: 15px;
 }

.web{
  display: none;
}
.smp{
  display: block;
}

.service{
  margin-top: 100px;
  padding:0 15px;
}
 .service-box{
   flex-direction: column;
   margin-top: 80px;

 }
 .service-inner:nth-child(2){
  padding: 0 ;
 }
 .service-inner{
   margin: auto;
   margin-top: 50px;
 }
.service-inner p{
  margin-top: 30px;
}


.about{
  margin-top: 100px;
padding: 0 15px;
}
 .about-inner{
  flex-direction: column;
  align-items: center;
}
.about-inner-1 .about-img{
  order: initial;
  margin-left: 0;
}
.about-inner-1 .about-txt{
  order: initial;
  margin-right: 0;
}
.about-button{
  text-align: center;
   }
   .about-txt h3{
     margin-top: 50px;
   }
   .about-img{
    width: 100%;
    margin: 0;
  }
  .about-inner-2 .about-img {
    margin-right: 0;
}
  .about-txt{
    width: initial;
  }
  .about-inner:first-of-type{
    margin: 80px 0 70px  0;
  }
  .about-txt:nth-of-type(2){
    margin-left: 0;
  }

.news{
  padding:0 15px;
}
   .news-box{
     margin-top: 100px;
   }
   .news-inner{
     flex-direction: column;
     padding: 18px 0;
   }
   .news-img{
     margin: auto;
   }
   .news-txt{
     width: 100%;
     margin: auto;
   }
 footer{
   text-align:center;
   padding: 30px 0 20px 0;
 }

   .footer-box, .footer-txt{
     flex-direction: column;
   }
   .footer-txt{
     margin-right: initial;
   }
   .footer-txt li{
     border-left: initial;
     padding-top: 12px;
   }
   footer img{
     margin-left: initial;
   }
   .footer-img{
    padding-bottom: 11px;
   }
   small{
     padding-top: 40px;
   }
  }
@media screen and (max-width:375px){
  .nav{
    margin-top: 11px;
  }
.news-box{
  max-width: 345px;
  margin-top: 80px;
}
.news-img{
  max-width: 300px;
}
}
@media screen and (max-width: 345px){

  .nav button{
      width: 100px;
      height: 30px;
      font-size: 12px;
  }
  .nav img {
    width: 80px;
    height: 20px;
}
}
